<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dynamic_RDLC.Properties.Settings.Inventory_dbConnectionString"
            connectionString="Data Source=DESKTOP-4SK1J3Q\SQL2019ENT;Initial Catalog=Inventory_db;User ID=sa;Password=1234;Encrypt=False"
            providerName="Microsoft.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>